/* 
    Este CSS trabalha itens referentes a barra de navegacao (navbar.jsp).
*/

nav {
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: bold;
    z-index: 1;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    height: 40px;
    text-align: center;
    width: 100%;
    background: #4b545f; 
    margin:0;
    padding:0;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    position:relative;
}

nav ul li:hover {
    background: #fff;
}

nav ul li:hover a {
    color: #4b545f;
}

nav ul li a {
    display: block;
    padding: 10px 30px;
    margin: 0;
    color: #fff;
    text-decoration: none;
}

nav ul ul {
    background: #5f6975;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a {
    padding: 10px 30px;
    color: #fff;
}

nav ul ul li a:hover {
    background: #4b545f;
}
